<h1
	class="handwriting"
	aria-label="Esteban Kroh"
>
	<svg viewBox="0 0 236 46">
		<g transform="translate(8.15 -103.092)">
			<g
				mask="url(#untitled-u-masks)"
				shape-rendering="geometricPrecision"
				text-rendering="geometricPrecision"
				transform="matrix(.26458 0 0 .26458 -40.494 -6.995)"
			>
				<g
					stroke="none"
					stroke-width="20"
					color="currentColor"
					shape-rendering="auto"
					transform="matrix(3.34771 0 0 3.9325 122.953 569.61)"
				>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M11.286 4.698q-3.456 0-6.048-1.404-2.592-1.35-4.05-3.618-1.404-2.322-1.404-5.13 0-2.376 1.026-4.698 1.026-2.322 2.862-4.212 1.89-1.944 4.374-3.24 2.538-1.35 5.508-1.782-1.944-1.728-2.916-3.834t-.972-4.32q0-2.862 1.458-5.454 1.458-2.592 4.104-4.212 2.646-1.62 6.156-1.62 3.294 0 5.076 1.62 1.782 1.566 1.782 4.59 0 2.106-.756 4.05-.756 1.89-1.836 3.078-1.026 1.188-2.052 1.188-.756 0-1.458-.648-.648-.702-1.134-1.566 1.998-1.62 3.348-3.456 1.404-1.836 1.404-3.78 0-1.62-1.08-2.43-1.08-.864-2.808-.864-2.43 0-4.104 1.512-1.62 1.458-2.484 3.78-.81 2.268-.81 4.698 0 2.322.864 4.698.864 2.322 3.132 4.05-3.888.594-6.75 2.7Q8.856-13.554 7.29-10.8 5.724-8.046 5.724-5.346q0 1.62.648 3.402.702 1.782 2.214 2.97 1.566 1.242 4.158 1.242 2.97 0 5.832-1.674 2.862-1.62 5.238-4.32 2.43-2.7 3.888-5.724l1.458.918q-1.998 3.726-4.698 6.75-2.7 2.97-5.994 4.698-3.294 1.782-7.182 1.782z"
						></path>
						<path
							fill="currentColor"
							d="M11.286 4.698c-2.304 0-4.32-.468-6.048-1.404-1.728-.9-3.078-2.106-4.05-3.618C.252-1.872-.216-3.582-.216-5.454c0-1.584.342-3.15 1.026-4.698a14.318 14.318 0 012.862-4.212 17.053 17.053 0 014.374-3.24 16.774 16.774 0 015.508-1.782c-1.296-1.152-2.268-2.43-2.916-3.834-.648-1.404-.972-2.844-.972-4.32 0-1.908.486-3.726 1.458-5.454.972-1.728 2.34-3.132 4.104-4.212 1.764-1.08 3.816-1.62 6.156-1.62 2.196 0 3.888.54 5.076 1.62 1.188 1.044 1.782 2.574 1.782 4.59 0 1.404-.252 2.754-.756 4.05-.504 1.26-1.116 2.286-1.836 3.078-.684.792-1.368 1.188-2.052 1.188-.504 0-.99-.216-1.458-.648a8.29 8.29 0 01-1.134-1.566c1.332-1.08 2.448-2.232 3.348-3.456.936-1.224 1.404-2.484 1.404-3.78 0-1.08-.36-1.89-1.08-2.43-.72-.576-1.656-.864-2.808-.864-1.62 0-2.988.504-4.104 1.512-1.08.972-1.908 2.232-2.484 3.78a13.865 13.865 0 00-.81 4.698c0 1.548.288 3.114.864 4.698.576 1.548 1.62 2.898 3.132 4.05-2.592.396-4.842 1.296-6.75 2.7-1.908 1.368-3.384 2.97-4.428 4.806-1.044 1.836-1.566 3.654-1.566 5.454 0 1.08.216 2.214.648 3.402a6.957 6.957 0 002.214 2.97c1.044.828 2.43 1.242 4.158 1.242 1.98 0 3.924-.558 5.832-1.674 1.908-1.08 3.654-2.52 5.238-4.32 1.62-1.8 2.916-3.708 3.888-5.724l1.458.918a34.724 34.724 0 01-4.698 6.75c-1.8 1.98-3.798 3.546-5.994 4.698-2.196 1.188-4.59 1.782-7.182 1.782z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M32.778 2.754q-2.7 0-4.374-1.134-1.62-1.08-2.322-2.754-.702-1.728-.702-3.51 0-1.566.432-2.43.432-.864 1.08-1.242.648-.432 1.188-.648.594-.216.864-.486 1.35-1.404 2.754-3.24 1.458-1.89 2.484-4.158v-.54q0-2.16.702-3.024.756-.918 1.728-.918.648 0 .918.324.324.324.378.756 0 .324-.162.756-.108.432-.108 1.188 0 1.62.756 3.726.81 2.052 1.566 4.374.81 2.322.81 4.752 0 .648-.054 1.188-.054.54-.162 1.026 1.674-.432 3.294-1.836 1.62-1.458 3.078-4.266l.648.486q-1.026 3.078-2.97 4.968-1.944 1.836-4.536 2.268-.864 2.214-2.862 3.294-1.944 1.08-4.428 1.08zM32.4.378q1.08 0 1.998-.54.918-.54 1.458-1.566-2.214-.486-3.996-1.728t-2.754-2.538q-.756.162-.756 1.458 0 1.782 1.026 3.348Q30.402.378 32.4.378zm3.888-3.726q.108-.378.108-.864.054-.54.054-.81-.054-2.43-.648-4.806t-1.188-4.86q-.972 1.674-2.268 3.618-1.296 1.944-2.43 3.132.864 1.458 2.538 2.754t3.834 1.836z"
						></path>
						<path
							fill="currentColor"
							d="M32.778 2.754c-1.8 0-3.258-.378-4.374-1.134-1.08-.72-1.854-1.638-2.322-2.754a9.252 9.252 0 01-.702-3.51c0-1.044.144-1.854.432-2.43.288-.576.648-.99 1.08-1.242a6.621 6.621 0 011.188-.648c.396-.144.684-.306.864-.486.9-.936 1.818-2.016 2.754-3.24.972-1.26 1.8-2.646 2.484-4.158v-.54c0-1.44.234-2.448.702-3.024.504-.612 1.08-.918 1.728-.918.432 0 .738.108.918.324.216.216.342.468.378.756a2.2 2.2 0 01-.162.756c-.072.288-.108.684-.108 1.188 0 1.08.252 2.322.756 3.726a76.05 76.05 0 011.566 4.374c.54 1.548.81 3.132.81 4.752a12 12 0 01-.054 1.188c-.036.36-.09.702-.162 1.026 1.116-.288 2.214-.9 3.294-1.836 1.08-.972 2.106-2.394 3.078-4.266l.648.486c-.684 2.052-1.674 3.708-2.97 4.968-1.296 1.224-2.808 1.98-4.536 2.268-.576 1.476-1.53 2.574-2.862 3.294-1.296.72-2.772 1.08-4.428 1.08zM32.4.378c.72 0 1.386-.18 1.998-.54.612-.36 1.098-.882 1.458-1.566a11.058 11.058 0 01-3.996-1.728c-1.188-.828-2.106-1.674-2.754-2.538-.504.108-.756.594-.756 1.458 0 1.188.342 2.304 1.026 3.348C30.06-.144 31.068.378 32.4.378zm3.888-3.726a3.15 3.15 0 00.108-.864c.036-.36.054-.63.054-.81a21.748 21.748 0 00-.648-4.806 487.979 487.979 0 01-1.188-4.86 69.397 69.397 0 01-2.268 3.618c-.864 1.296-1.674 2.34-2.43 3.132.576.972 1.422 1.89 2.538 2.754 1.116.864 2.394 1.476 3.834 1.836z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M50.328 2.484q-2.376 0-3.834-1.404-1.458-1.404-1.458-4.266 0-2.214.81-5.508.864-3.294 2.16-6.804-.378-.108-.918-.162-.486-.108-.972-.324v-1.674q.864.108 1.404.162l1.188.108q1.134-2.862 2.43-5.508 1.35-2.7 2.646-4.806 1.35-2.106 2.538-3.294 1.188-1.242 2.106-1.242.54 0 1.026.432.486.378.486 1.134 0 1.08-1.134 3.078-1.08 1.998-2.7 4.698-1.62 2.646-3.132 5.67h1.674q2.376 0 4.266-.054 1.944-.108 3.942-.324v1.782q-2.97.27-5.454.432-2.484.162-4.752.216h-.648q-1.134 2.646-1.998 5.454-.81 2.754-.81 5.4 0 2.214.702 3.132.702.918 2.214.918 2.7 0 5.508-2.43 2.862-2.484 4.968-6.696l.756.54q-1.404 3.186-3.51 5.778Q57.78-.486 55.35.972q-2.43 1.512-5.022 1.512z"
						></path>
						<path
							fill="currentColor"
							d="M50.328 2.484c-1.584 0-2.862-.468-3.834-1.404-.972-.936-1.458-2.358-1.458-4.266 0-1.476.27-3.312.81-5.508a73.56 73.56 0 012.16-6.804 5.318 5.318 0 00-.918-.162 5.134 5.134 0 01-.972-.324v-1.674c.576.072 1.044.126 1.404.162l1.188.108a77 77 0 012.43-5.508c.9-1.8 1.782-3.402 2.646-4.806.9-1.404 1.746-2.502 2.538-3.294.792-.828 1.494-1.242 2.106-1.242.36 0 .702.144 1.026.432.324.252.486.63.486 1.134 0 .72-.378 1.746-1.134 3.078a123.2 123.2 0 01-2.7 4.698 75.653 75.653 0 00-3.132 5.67h1.674c1.584 0 3.006-.018 4.266-.054 1.296-.072 2.61-.18 3.942-.324v1.782c-1.98.18-3.798.324-5.454.432-1.656.108-3.24.18-4.752.216h-.648a54.586 54.586 0 00-1.998 5.454c-.54 1.836-.81 3.636-.81 5.4 0 1.476.234 2.52.702 3.132.468.612 1.206.918 2.214.918 1.8 0 3.636-.81 5.508-2.43 1.908-1.656 3.564-3.888 4.968-6.696l.756.54a25.269 25.269 0 01-3.51 5.778C58.464-1.35 56.97 0 55.35.972c-1.62 1.008-3.294 1.512-5.022 1.512z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M67.23 2.376q-3.456 0-5.346-1.89-1.836-1.836-1.836-4.644 0-2.376 1.188-5.022 1.242-2.7 3.294-5.022 2.052-2.376 4.536-3.834 2.484-1.458 4.968-1.458 1.404 0 2.646.756 1.296.702 1.296 2.862 0 2.052-1.188 3.834t-3.186 3.186q-1.998 1.404-4.428 2.322-2.376.864-4.806 1.134-.054.216-.108.486v.756q0 .27.054.972.108.648.486 1.404.378.756 1.242 1.296t2.376.54q2.268 0 4.536-1.242 2.322-1.296 4.32-3.402 2.052-2.106 3.402-4.698l1.08.864q-1.458 3.24-3.78 5.67-2.268 2.43-5.076 3.78-2.754 1.35-5.67 1.35zm-2.268-9.774q1.404-.162 3.132-.972 1.728-.81 3.294-2.052 1.62-1.242 2.646-2.7 1.026-1.512 1.026-3.024 0-.594-.216-.81-.216-.216-.702-.216-1.242 0-2.592.918-1.35.864-2.646 2.322-1.296 1.404-2.322 3.132-1.026 1.728-1.62 3.402z"
						></path>
						<path
							fill="currentColor"
							d="M67.23 2.376c-2.304 0-4.086-.63-5.346-1.89-1.224-1.224-1.836-2.772-1.836-4.644 0-1.584.396-3.258 1.188-5.022a20.496 20.496 0 013.294-5.022c1.368-1.584 2.88-2.862 4.536-3.834 1.656-.972 3.312-1.458 4.968-1.458.936 0 1.818.252 2.646.756.864.468 1.296 1.422 1.296 2.862 0 1.368-.396 2.646-1.188 3.834-.792 1.188-1.854 2.25-3.186 3.186a19.882 19.882 0 01-4.428 2.322A20.718 20.718 0 0164.368-5.4c-.036.144-.072.306-.108.486v.756c0 .18.018.504.054.972.072.432.234.9.486 1.404.252.504.666.936 1.242 1.296s1.368.54 2.376.54c1.512 0 3.024-.414 4.536-1.242 1.548-.864 2.988-1.998 4.32-3.402a19.814 19.814 0 003.402-4.698l1.08.864c-.972 2.16-2.232 4.05-3.78 5.67-1.512 1.62-3.204 2.88-5.076 3.78-1.836.9-3.726 1.35-5.67 1.35zm-2.268-9.774c.936-.108 1.98-.432 3.132-.972a16.703 16.703 0 003.294-2.052c1.08-.828 1.962-1.728 2.646-2.7.684-1.008 1.026-2.016 1.026-3.024 0-.396-.072-.666-.216-.81-.144-.144-.378-.216-.702-.216-.828 0-1.692.306-2.592.918-.9.576-1.782 1.35-2.646 2.322a18.593 18.593 0 00-2.322 3.132 19.38 19.38 0 00-1.62 3.402z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M85.05 3.942q-3.078 0-4.698-1.944-1.566-1.89-1.566-5.238 0-2.646.918-6.264.918-3.618 2.43-7.56 1.512-3.996 3.348-7.776 1.89-3.834 3.834-6.912 1.944-3.132 3.672-4.968 1.728-1.836 2.97-1.836 1.08 0 1.62 1.242t.594 2.484q0 1.512-.648 3.672t-1.836 4.59q-1.188 2.43-2.754 4.806t-3.456 4.32q-1.836 1.944-3.834 3.078-.378.702-.972 2.43-.54 1.728-1.026 3.942-.432 2.214-.432 4.428 0 2.16.594 3.672.648 1.566 2.214 1.566 1.404 0 3.024-1.296t2.646-3.132q-1.998-1.08-3.024-3.024t-1.026-4.104q0-2.646 1.404-4.266 1.458-1.62 3.51-1.62 1.728 0 2.862 1.35 1.134 1.296 1.134 4.05 0 1.566-.432 3.348-.378 1.728-1.188 3.456.27 0 .432.054h.54q1.89 0 3.24-1.026 1.35-1.026 2.268-2.43.918-1.404 1.458-2.538l.81 1.134q-1.35 3.186-3.348 4.86-1.944 1.674-5.13 1.674h-.594q-.27 0-.54-.054-1.512 2.43-3.78 4.104-2.214 1.728-5.238 1.728zm7.56-8.478q.486-1.08.702-2.16.27-1.134.27-2.43 0-1.944-.486-2.862-.432-.918-1.08-.918-.702 0-1.242.972-.486.972-.486 2.322 0 1.134.486 2.646t1.836 2.43zm-5.94-13.23q1.35-1.242 2.592-2.862 1.296-1.674 2.376-3.456 1.134-1.836 1.944-3.564.864-1.782 1.404-3.186.54-1.458.648-2.322v-.162-.162q-.486.162-1.62 1.566-1.08 1.404-2.484 3.672-1.35 2.214-2.646 4.968-1.296 2.7-2.214 5.508z"
						></path>
						<path
							fill="currentColor"
							d="M85.05 3.942c-2.052 0-3.618-.648-4.698-1.944-1.044-1.26-1.566-3.006-1.566-5.238 0-1.764.306-3.852.918-6.264.612-2.412 1.422-4.932 2.43-7.56a93.615 93.615 0 013.348-7.776c1.26-2.556 2.538-4.86 3.834-6.912 1.296-2.088 2.52-3.744 3.672-4.968 1.152-1.224 2.142-1.836 2.97-1.836.72 0 1.26.414 1.62 1.242.36.828.558 1.656.594 2.484 0 1.008-.216 2.232-.648 3.672-.432 1.44-1.044 2.97-1.836 4.59a43.274 43.274 0 01-2.754 4.806 29.329 29.329 0 01-3.456 4.32c-1.224 1.296-2.502 2.322-3.834 3.078-.252.468-.576 1.278-.972 2.43a47.367 47.367 0 00-1.026 3.942 23.072 23.072 0 00-.432 4.428c0 1.44.198 2.664.594 3.672.432 1.044 1.17 1.566 2.214 1.566.936 0 1.944-.432 3.024-1.296a10.578 10.578 0 002.646-3.132c-1.332-.72-2.34-1.728-3.024-3.024a8.67 8.67 0 01-1.026-4.104c0-1.764.468-3.186 1.404-4.266.972-1.08 2.142-1.62 3.51-1.62 1.152 0 2.106.45 2.862 1.35.756.864 1.134 2.214 1.134 4.05 0 1.044-.144 2.16-.432 3.348a16.39 16.39 0 01-1.188 3.456c.18 0 .324.018.432.054h.54c1.26 0 2.34-.342 3.24-1.026a9.7 9.7 0 002.268-2.43c.612-.936 1.098-1.782 1.458-2.538l.81 1.134c-.9 2.124-2.016 3.744-3.348 4.86-1.296 1.116-3.006 1.674-5.13 1.674h-.594c-.18 0-.36-.018-.54-.054a14.705 14.705 0 01-3.78 4.104c-1.476 1.152-3.222 1.728-5.238 1.728zm7.56-8.478c.324-.72.558-1.44.702-2.16.18-.756.27-1.566.27-2.43 0-1.296-.162-2.25-.486-2.862-.288-.612-.648-.918-1.08-.918-.468 0-.882.324-1.242.972-.324.648-.486 1.422-.486 2.322 0 .756.162 1.638.486 2.646.324 1.008.936 1.818 1.836 2.43zm-5.94-13.23a22.36 22.36 0 002.592-2.862 36.8 36.8 0 002.376-3.456 35.405 35.405 0 001.944-3.564 41.895 41.895 0 001.404-3.186c.36-.972.576-1.746.648-2.322v-.324c-.324.108-.864.63-1.62 1.566-.72.936-1.548 2.16-2.484 3.672a52.493 52.493 0 00-2.646 4.968 45.111 45.111 0 00-2.214 5.508z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M104.49 2.538q-1.782 0-3.078-1.188-1.35-1.188-1.35-3.564 0-1.89.864-4.104.864-2.214 2.376-4.374 1.512-2.16 3.456-3.888 1.944-1.782 4.158-2.862 2.214-1.08 4.428-1.08 2.322 0 3.942 1.188t1.62 3.132q0 1.458-1.026 2.106-1.026.648-2.43.378.108-.486.162-.972.108-.486.108-1.026 0-1.08-.432-1.944-.432-.864-1.836-.864-1.512 0-3.078 1.026-1.566 1.026-3.024 2.7-1.404 1.62-2.538 3.618-1.134 1.944-1.782 3.834-.648 1.89-.648 3.402 0 1.728 1.242 1.728t2.754-1.188q1.512-1.242 3.024-3.078 1.566-1.836 2.97-3.726 1.404-1.944 2.43-3.294.162-.27.432-.27.216.054.81.27.648.162 1.188.54.54.378.54.972 0 .54-.486 1.404-.432.81-1.08 1.836-.594.972-1.08 1.998-.432.972-.432 1.89 0 .702.378 1.35.378.594 1.242.594 1.296 0 3.618-1.89 2.376-1.944 4.806-6.534l1.026 1.026q-1.296 2.916-3.132 5.184-1.782 2.214-3.78 3.456-1.998 1.296-4.05 1.296-2.214 0-3.294-1.404t-1.188-3.024v-.162-.108q-2.16 2.592-3.996 4.104-1.782 1.512-3.834 1.512z"
						></path>
						<path
							fill="currentColor"
							d="M104.49 2.538c-1.188 0-2.214-.396-3.078-1.188-.9-.792-1.35-1.98-1.35-3.564 0-1.26.288-2.628.864-4.104.576-1.476 1.368-2.934 2.376-4.374a22.26 22.26 0 013.456-3.888c1.296-1.188 2.682-2.142 4.158-2.862 1.476-.72 2.952-1.08 4.428-1.08 1.548 0 2.862.396 3.942 1.188 1.08.792 1.62 1.836 1.62 3.132 0 .972-.342 1.674-1.026 2.106-.684.432-1.494.558-2.43.378.072-.324.126-.648.162-.972a4.72 4.72 0 00.108-1.026c0-.72-.144-1.368-.432-1.944-.288-.576-.9-.864-1.836-.864-1.008 0-2.034.342-3.078 1.026-1.044.684-2.052 1.584-3.024 2.7a22.338 22.338 0 00-2.538 3.618 21.417 21.417 0 00-1.782 3.834c-.432 1.26-.648 2.394-.648 3.402 0 1.152.414 1.728 1.242 1.728.828 0 1.746-.396 2.754-1.188 1.008-.828 2.016-1.854 3.024-3.078a70.818 70.818 0 002.97-3.726 171.677 171.677 0 012.43-3.294c.108-.18.252-.27.432-.27.144.036.414.126.81.27.432.108.828.288 1.188.54.36.252.54.576.54.972 0 .36-.162.828-.486 1.404a29.46 29.46 0 01-1.08 1.836 21.386 21.386 0 00-1.08 1.998c-.288.648-.432 1.278-.432 1.89 0 .468.126.918.378 1.35.252.396.666.594 1.242.594.864 0 2.07-.63 3.618-1.89 1.584-1.296 3.186-3.474 4.806-6.534l1.026 1.026c-.864 1.944-1.908 3.672-3.132 5.184-1.188 1.476-2.448 2.628-3.78 3.456-1.332.864-2.682 1.296-4.05 1.296-1.476 0-2.574-.468-3.294-1.404-.72-.936-1.116-1.944-1.188-3.024v-.27c-1.44 1.728-2.772 3.096-3.996 4.104-1.188 1.008-2.466 1.512-3.834 1.512z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M143.64 1.08q-2.106 0-3.24-1.08-1.08-1.026-1.08-2.646 0-1.08.378-2.268l.756-2.484q.378-1.242.378-2.376 0-1.188-.594-1.62-.54-.486-1.296-.486-1.62 0-3.348 1.35-1.674 1.296-3.294 3.294-1.566 1.998-2.97 4.158-1.404 2.16-2.43 3.888-1.026 0-1.944-.378-.918-.324-1.566-1.188.054-.27.648-1.62.54-1.404 1.242-3.294.702-1.944 1.242-4.05t.54-3.834q.378-.432 1.134-.864.81-.432 1.674-.432 1.89 0 1.89 1.62 0 .648-.27 1.944-.216 1.242-.648 2.862 1.404-1.89 3.078-3.564 1.674-1.674 3.456-2.7 1.836-1.08 3.672-1.08 2.322 0 3.402 1.566 1.134 1.566 1.134 3.456 0 1.62-.54 3.024t-1.08 2.646q-.486 1.242-.486 2.43 0 .864.378 1.242.432.324.918.324 1.296 0 2.7-1.242 1.404-1.242 2.646-3.132 1.296-1.944 2.268-3.888l.918.756q-1.134 2.646-2.592 4.86-1.404 2.16-3.186 3.51Q145.8 1.08 143.64 1.08z"
						></path>
						<path
							fill="currentColor"
							d="M143.64 1.08c-1.404 0-2.484-.36-3.24-1.08-.72-.684-1.08-1.566-1.08-2.646 0-.72.126-1.476.378-2.268l.756-2.484c.252-.828.378-1.62.378-2.376 0-.792-.198-1.332-.594-1.62a1.87 1.87 0 00-1.296-.486c-1.08 0-2.196.45-3.348 1.35-1.116.864-2.214 1.962-3.294 3.294a57.796 57.796 0 00-2.97 4.158A114.34 114.34 0 00126.9.81a5.055 5.055 0 01-1.944-.378c-.612-.216-1.134-.612-1.566-1.188.036-.18.252-.72.648-1.62.36-.936.774-2.034 1.242-3.294a44.354 44.354 0 001.242-4.05c.36-1.404.54-2.682.54-3.834.252-.288.63-.576 1.134-.864a3.514 3.514 0 011.674-.432c1.26 0 1.89.54 1.89 1.62 0 .432-.09 1.08-.27 1.944-.144.828-.36 1.782-.648 2.862a32.134 32.134 0 013.078-3.564c1.116-1.116 2.268-2.016 3.456-2.7 1.224-.72 2.448-1.08 3.672-1.08 1.548 0 2.682.522 3.402 1.566.756 1.044 1.134 2.196 1.134 3.456 0 1.08-.18 2.088-.54 3.024a66.67 66.67 0 01-1.08 2.646c-.324.828-.486 1.638-.486 2.43 0 .576.126.99.378 1.242.288.216.594.324.918.324.864 0 1.764-.414 2.7-1.242.936-.828 1.818-1.872 2.646-3.132a36.22 36.22 0 002.268-3.888l.918.756a31.057 31.057 0 01-2.592 4.86c-.936 1.44-1.998 2.61-3.186 3.51a6.318 6.318 0 01-3.888 1.296z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M194.292 4.698q-1.296 0-2.97-1.35-1.62-1.296-3.51-3.456-1.836-2.16-3.618-4.752-1.782-2.592-3.402-5.184-1.566-2.646-2.7-4.806l-4.914 15.876q-.378 1.296-1.404 1.836-.972.594-2.16.702-1.188.162-2.268.162.756-1.674 1.512-3.618.756-1.89 1.674-4.59.918-2.7 2.214-6.534 1.35-3.834 3.24-9.288 1.89-5.454 4.59-12.96.108-.378.378-1.026.27-.702.27-1.296 0-.486-.27-.756-.216-.27-.81-.27-1.296 0-2.43 1.026-1.134.972-2.052 2.484-.918 1.458-1.458 3.024-.486 1.566-.486 2.754 0 1.242.54 2.484-2.322 0-3.348-.972-.972-1.026-.972-2.538 0-1.836 1.134-3.672 1.134-1.89 2.862-3.402 1.782-1.566 3.726-2.484 1.998-.972 3.672-.972 1.836 0 2.376 1.026.594.972.594 2.106 0 .594-.108 1.134-.108.54-.27 1.026l-3.996 12.96q.594-.378 1.35-.972.81-.594 2.376-1.782 3.024-2.376 5.832-4.968t5.184-5.292q2.376-2.754 4.104-5.4.648.594.864 1.512.216.864.216 1.404 0 1.674-1.404 3.672-1.35 1.944-3.618 4.05-2.214 2.106-4.86 4.158-2.646 2.052-5.292 3.834t-4.752 3.132q1.728 2.646 3.294 5.022 1.62 2.376 3.564 4.698 1.944 2.268 4.536 4.752 2.646 2.43 6.318 5.238-.486.918-1.458 1.566-.972.702-1.89.702z"
						></path>
						<path
							fill="currentColor"
							d="M194.292 4.698c-.864 0-1.854-.45-2.97-1.35-1.08-.864-2.25-2.016-3.51-3.456a58.542 58.542 0 01-3.618-4.752 141.945 141.945 0 01-3.402-5.184 109.282 109.282 0 01-2.7-4.806l-4.914 15.876c-.252.864-.72 1.476-1.404 1.836a4.941 4.941 0 01-2.16.702c-.792.108-1.548.162-2.268.162a73.784 73.784 0 001.512-3.618 94.576 94.576 0 001.674-4.59c.612-1.8 1.35-3.978 2.214-6.534.9-2.556 1.98-5.652 3.24-9.288 1.26-3.636 2.79-7.956 4.59-12.96.072-.252.198-.594.378-1.026.18-.468.27-.9.27-1.296 0-.324-.09-.576-.27-.756-.144-.18-.414-.27-.81-.27-.864 0-1.674.342-2.43 1.026-.756.648-1.44 1.476-2.052 2.484a14.593 14.593 0 00-1.458 3.024c-.324 1.044-.486 1.962-.486 2.754 0 .828.18 1.656.54 2.484-1.548 0-2.664-.324-3.348-.972-.648-.684-.972-1.53-.972-2.538 0-1.224.378-2.448 1.134-3.672a14.246 14.246 0 012.862-3.402c1.188-1.044 2.43-1.872 3.726-2.484 1.332-.648 2.556-.972 3.672-.972 1.224 0 2.016.342 2.376 1.026.396.648.594 1.35.594 2.106 0 .396-.036.774-.108 1.134-.072.36-.162.702-.27 1.026l-3.996 12.96c.396-.252.846-.576 1.35-.972.54-.396 1.332-.99 2.376-1.782a96.415 96.415 0 005.832-4.968 71.455 71.455 0 005.184-5.292c1.584-1.836 2.952-3.636 4.104-5.4.432.396.72.9.864 1.512.144.576.216 1.044.216 1.404 0 1.116-.468 2.34-1.404 3.672-.9 1.296-2.106 2.646-3.618 4.05a63.554 63.554 0 01-4.86 4.158 97.67 97.67 0 01-5.292 3.834 253.99 253.99 0 01-4.752 3.132c1.152 1.764 2.25 3.438 3.294 5.022a59.823 59.823 0 003.564 4.698c1.296 1.512 2.808 3.096 4.536 4.752 1.764 1.62 3.87 3.366 6.318 5.238-.324.612-.81 1.134-1.458 1.566-.648.468-1.278.702-1.89.702z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M206.712 1.404q-1.998 0-3.24-1.08-1.242-1.026-1.242-2.808 0-1.512.756-3.24.756-1.728 1.512-3.402.81-1.674.81-2.97 0-1.242-.81-2.052-.81-.864-1.89-1.404-1.188 2.97-2.7 5.778-1.458 2.754-2.376 4.32l-.81-1.566q.756-1.404 1.998-3.996t2.376-5.778q-.54-.54-.54-1.458 0-1.404.864-2.646t1.674-1.242q.648 0 .918.756.324.702.324.972t-.27.972q-.216.702-.324 1.026.054.594.918 1.188.918.54 2.052 1.296t1.998 1.89q.864 1.134.864 2.862 0 1.566-.702 3.186-.702 1.62-1.404 3.024t-.702 2.43q0 .756.378 1.026.432.216.972.216 1.296 0 2.7-.756 1.404-.81 2.754-2.052t2.376-2.592q1.026-1.404 1.566-2.538l1.296.972q-1.026 2.322-2.97 4.59-1.944 2.214-4.32 3.672-2.376 1.404-4.806 1.404z"
						></path>
						<path
							fill="currentColor"
							d="M206.712 1.404c-1.332 0-2.412-.36-3.24-1.08-.828-.684-1.242-1.62-1.242-2.808 0-1.008.252-2.088.756-3.24a315.968 315.968 0 011.512-3.402c.54-1.116.81-2.106.81-2.97 0-.828-.27-1.512-.81-2.052a6.634 6.634 0 00-1.89-1.404 56.209 56.209 0 01-2.7 5.778c-.972 1.836-1.764 3.276-2.376 4.32l-.81-1.566c.504-.936 1.17-2.268 1.998-3.996.828-1.728 1.62-3.654 2.376-5.778-.36-.36-.54-.846-.54-1.458 0-.936.288-1.818.864-2.646.576-.828 1.134-1.242 1.674-1.242.432 0 .738.252.918.756.216.468.324.792.324.972 0 .18-.09.504-.27.972-.144.468-.252.81-.324 1.026.036.396.342.792.918 1.188.612.36 1.296.792 2.052 1.296a8.276 8.276 0 011.998 1.89c.576.756.864 1.71.864 2.862 0 1.044-.234 2.106-.702 3.186a61.061 61.061 0 01-1.404 3.024c-.468.936-.702 1.746-.702 2.43 0 .504.126.846.378 1.026.288.144.612.216.972.216.864 0 1.764-.252 2.7-.756a15.606 15.606 0 002.754-2.052c.9-.828 1.692-1.692 2.376-2.592.684-.936 1.206-1.782 1.566-2.538l1.296.972c-.684 1.548-1.674 3.078-2.97 4.59A18.884 18.884 0 01211.518 0c-1.584.936-3.186 1.404-4.806 1.404z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M219.888 1.728q-2.43 0-3.348-1.62-.864-1.566-.864-3.456 0-1.728.54-3.51.54-1.836 1.458-3.402.972-1.566 2.106-2.484 1.188-.972 2.376-.972.378 0 .864.162.54.108.756.378-.648.81-1.35 1.998-.648 1.188-1.242 2.538-.54 1.296-.864 2.646-.324 1.35-.324 2.484 0 1.08.378 1.782.432.702 1.458.702t2.43-1.134q1.458-1.188 2.754-2.7-1.728-1.566-2.484-3.402-.756-1.89-.756-4.536 0-1.134.54-2.592.594-1.458 1.836-2.538 1.296-1.08 3.456-1.08 2.322 0 3.24 1.296.972 1.296.972 3.078 0 1.998-1.08 4.482-1.026 2.484-2.484 4.698.648.324 1.512.324.81 0 1.944-.378t2.214-1.242q1.08-.918 1.728-2.43l.972.702q-1.188 2.754-3.186 4.05-1.944 1.242-3.834 1.242-.702 0-1.404-.108-.702-.162-1.296-.378-1.836 2.16-4.212 3.78-2.376 1.62-4.806 1.62zm8.532-8.316q1.296-1.89 2.214-4.05.918-2.16.918-3.996 0-1.242-.378-1.782-.378-.594-1.134-.594-1.026 0-2.106 1.458-1.08 1.458-1.08 3.672 0 1.134.378 2.754.432 1.62 1.188 2.538z"
						></path>
						<path
							fill="currentColor"
							d="M219.888 1.728c-1.62 0-2.736-.54-3.348-1.62-.576-1.044-.864-2.196-.864-3.456 0-1.152.18-2.322.54-3.51.36-1.224.846-2.358 1.458-3.402.648-1.044 1.35-1.872 2.106-2.484.792-.648 1.584-.972 2.376-.972.252 0 .54.054.864.162.36.072.612.198.756.378-.432.54-.882 1.206-1.35 1.998a33.346 33.346 0 00-1.242 2.538 17.47 17.47 0 00-.864 2.646c-.216.9-.324 1.728-.324 2.484 0 .72.126 1.314.378 1.782.288.468.774.702 1.458.702.684 0 1.494-.378 2.43-1.134a21.61 21.61 0 002.754-2.7c-1.152-1.044-1.98-2.178-2.484-3.402-.504-1.26-.756-2.772-.756-4.536 0-.756.18-1.62.54-2.592a6.664 6.664 0 011.836-2.538c.864-.72 2.016-1.08 3.456-1.08 1.548 0 2.628.432 3.24 1.296.648.864.972 1.89.972 3.078 0 1.332-.36 2.826-1.08 4.482a27.854 27.854 0 01-2.484 4.698c.432.216.936.324 1.512.324.54 0 1.188-.126 1.944-.378s1.494-.666 2.214-1.242c.72-.612 1.296-1.422 1.728-2.43l.972.702c-.792 1.836-1.854 3.186-3.186 4.05-1.296.828-2.574 1.242-3.834 1.242a9.22 9.22 0 01-1.404-.108 11.1 11.1 0 01-1.296-.378 21.096 21.096 0 01-4.212 3.78c-1.584 1.08-3.186 1.62-4.806 1.62zm8.532-8.316a23.154 23.154 0 002.214-4.05c.612-1.44.918-2.772.918-3.996 0-.828-.126-1.422-.378-1.782-.252-.396-.63-.594-1.134-.594-.684 0-1.386.486-2.106 1.458s-1.08 2.196-1.08 3.672c0 .756.126 1.674.378 2.754.288 1.08.684 1.926 1.188 2.538z"
						></path>
					</g>
					<g>
						<path
							fill="currentColor"
							stroke-width="0"
							d="M238.896 2.052q-1.188 0-1.728-1.836-.486-1.836-.486-4.266 0-2.484.81-5.994.864-3.51 2.268-7.398 1.458-3.888 3.186-7.614 1.782-3.726 3.618-6.75 1.89-3.078 3.564-4.914 1.728-1.836 3.024-1.836 1.134 0 1.728 1.242.594 1.242.594 2.592 0 1.458-.702 3.618-.648 2.106-1.836 4.536-1.188 2.43-2.808 4.806-1.566 2.322-3.456 4.266-1.836 1.944-3.834 3.132-.702 1.836-1.134 3.456-.378 1.566-.54 2.97-.162 1.404-.162 2.754v.594q.054.27.054.54.216-.324.702-1.674.486-1.35 1.296-3.132.864-1.836 2.106-3.564 1.242-1.782 2.916-2.916 1.674-1.188 3.834-1.188 1.836 0 2.862.864 1.026.81 1.458 2.052.432 1.188.432 2.43 0 1.728-.594 3.24-.54 1.512-1.134 2.862-.54 1.296-.54 2.484 0 .972.432 1.35.432.378 1.026.378 1.188 0 2.754-1.188 1.62-1.188 3.186-3.132 1.62-1.998 2.754-4.374l.864.918q-1.242 2.7-2.916 4.968t-3.672 3.618q-1.998 1.35-4.32 1.35-2.052 0-3.132-1.08t-1.08-2.7q0-1.134.378-2.484.432-1.404.81-2.808.378-1.404.378-2.538 0-1.296-.594-1.782-.54-.486-1.35-.486-1.35 0-2.43 1.08-1.08 1.026-1.944 2.7-.864 1.674-1.62 3.564-.756 1.836-1.512 3.51-.756 1.674-1.62 2.7-.81 1.08-1.89 1.08zm5.076-19.872q1.404-1.242 2.7-2.97 1.296-1.728 2.376-3.564 1.134-1.89 1.944-3.618.864-1.782 1.35-3.186.486-1.404.54-2.16v-.054-.108q-.324 0-1.404 1.35-1.026 1.296-2.43 3.564-1.35 2.214-2.754 5.022-1.35 2.808-2.322 5.724z"
						></path>
						<path
							fill="currentColor"
							d="M238.896 2.052c-.792 0-1.368-.612-1.728-1.836-.324-1.224-.486-2.646-.486-4.266 0-1.656.27-3.654.81-5.994.576-2.34 1.332-4.806 2.268-7.398.972-2.592 2.034-5.13 3.186-7.614 1.188-2.484 2.394-4.734 3.618-6.75 1.26-2.052 2.448-3.69 3.564-4.914 1.152-1.224 2.16-1.836 3.024-1.836.756 0 1.332.414 1.728 1.242.396.828.594 1.692.594 2.592 0 .972-.234 2.178-.702 3.618-.432 1.404-1.044 2.916-1.836 4.536a38.746 38.746 0 01-2.808 4.806 30.836 30.836 0 01-3.456 4.266c-1.224 1.296-2.502 2.34-3.834 3.132a34.931 34.931 0 00-1.134 3.456 24.821 24.821 0 00-.54 2.97 24.018 24.018 0 00-.162 2.754v.594c.036.18.054.36.054.54.144-.216.378-.774.702-1.674.324-.9.756-1.944 1.296-3.132a22.571 22.571 0 012.106-3.564c.828-1.188 1.8-2.16 2.916-2.916 1.116-.792 2.394-1.188 3.834-1.188 1.224 0 2.178.288 2.862.864a4.406 4.406 0 011.458 2.052 7.06 7.06 0 01.432 2.43 8.781 8.781 0 01-.594 3.24 43.12 43.12 0 01-1.134 2.862c-.36.864-.54 1.692-.54 2.484 0 .648.144 1.098.432 1.35.288.252.63.378 1.026.378.792 0 1.71-.396 2.754-1.188 1.08-.792 2.142-1.836 3.186-3.132a21.879 21.879 0 002.754-4.374l.864.918c-.828 1.8-1.8 3.456-2.916 4.968-1.116 1.512-2.34 2.718-3.672 3.618-1.332.9-2.772 1.35-4.32 1.35-1.368 0-2.412-.36-3.132-1.08-.72-.72-1.08-1.62-1.08-2.7 0-.756.126-1.584.378-2.484.288-.936.558-1.872.81-2.808.252-.936.378-1.782.378-2.538 0-.864-.198-1.458-.594-1.782-.36-.324-.81-.486-1.35-.486-.9 0-1.71.36-2.43 1.08-.72.684-1.368 1.584-1.944 2.7a40.835 40.835 0 00-1.62 3.564 113.914 113.914 0 01-1.512 3.51c-.504 1.116-1.044 2.016-1.62 2.7-.54.72-1.17 1.08-1.89 1.08zm5.076-19.872c.936-.828 1.836-1.818 2.7-2.97a38.312 38.312 0 002.376-3.564 40.382 40.382 0 001.944-3.618c.576-1.188 1.026-2.25 1.35-3.186.324-.936.504-1.656.54-2.16v-.162c-.216 0-.684.45-1.404 1.35-.684.864-1.494 2.052-2.43 3.564a68.714 68.714 0 00-2.754 5.022 48.857 48.857 0 00-2.322 5.724z"
						></path>
					</g>
				</g>
				<mask
					id="untitled-u-masks"
					width="400%"
					height="400%"
					x="-150%"
					y="-150%"
					class="animacion"
				>
					<path
						fill="none"
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="20"
						d="M201.342 465.831l14.562-20.892-6.965-20.26-15.194-5.064-19.626 6.964-11.396 25.324q-.633 20.892 0 21.525c.633.633 16.603 24.058 17.236 24.691q.633.633-19.768 5.065c-19.346 12.784-17.289 12.582-23.012 24.058q-5.722 11.475-4.808 22.158.682 12.617 4.808 17.727c4.127 5.11 14.113 10.51 14.018 10.13 0 0 14.692 5.064 18.49 5.697q3.799.634 20.26-7.597l20.892-24.058 32.288-45.583q2.532-15.194 2.532-14.561 0 .633 4.432 44.317 1.266 20.26 1.266 21.525c0 1.267-5.065 18.993-12.662 20.26q-7.597 1.266-20.892-7.598l-6.964-34.187 15.827 10.13q1.9 8.23 6.964 10.762 5.065 2.533 31.022 1.266 12.03-9.496 12.662-10.762.633-1.266 43.051-108.893-32.921 79.137-33.554 79.77-.633.633-8.23 47.483l15.827 8.863L299.473 540l-33.555-38.715 38.62 6.33 25.323-2.532L305.171 540q-8.23 34.724-6.965 33.458c1.267-1.266 21.526-13.295 22.159-13.928.633-.633 8.23-12.03 10.13-12.662 1.899-.633 23.424-6.868 24.69-6.868 1.267 0 13.296-7.694 13.296-9.593 0-1.9 12.028-18.993 12.028-19.626 0-.633-5.064-12.662-5.697-12.662q-.634 0-22.792 6.964-10.763 15.828-12.029 17.094-1.266 1.266-6.964 12.662v27.856l15.194 13.928q19.626-8.23 20.26-8.23.633 0 20.892-18.993l14.561-40.518 12.662-5.698 19.626-29.756 13.295-35.453-6.964-13.295-19.626 31.654-18.36 43.051-10.13 68.375 12.663 12.662q15.194-4.432 15.827-4.432c.633 0 13.295-17.726 13.928-19.626q.633-1.9 5.698-36.72l-13.295-8.23q-10.13 14.561-10.13 15.828 0 1.266 7.598 23.424l21.525 6.964q18.993-7.597 18.993-8.23t20.26-32.921l23.424-15.194 13.928 15.827-24.69-5.698-32.922 48.116q.633 10.13 2.532 12.029c1.9 1.899 12.662 3.165 13.929 0q1.266-3.166 34.187-43.051l-12.029 29.756q6.331 15.194 10.13 15.194c3.798 0 18.36-9.497 18.993-10.763q.633-1.266 22.158-43.05-12.029 50.647-12.029 47.482 0-3.166 35.454-48.749l21.525-6.33 1.9 20.892-8.864 26.59q3.799 8.23 9.497 8.23t17.726-5.065L635.015 540l25.324-5.794 33.05 46.216 41.114-153.843-8.088-6.964q-9.436 5.065-10.11 5.065-.674 0-18.199 20.259l-.674 20.892 6.74 32.288 35.723-12.73 47.854-58.81-51.224 46.85-13.48 29.755 16.85 42.418 34.374 34.82L783.705 540l20.894-54.61-8.762 6.398 14.828 20.26 7.414 10.129q-9.436 34.82-9.436 36.087 0 1.266 7.414 15.194l26.96-17.094 24.265-34.187-14.154 10.763 1.348 32.288 8.762 6.33 18.198-12.028 19.546-31.022-3.37-29.123-16.85 1.9-2.696 15.194 3.37 23.521 15.502 16.364 20.894-10.762q14.828-37.986 15.502-37.986.674 0 21.569-16.461l18.198-46.216-4.044-18.36-33.7 65.21-11.459 19.625-.674 55.713L936.03 549.4l14.155-32.921q19.546-9.497 19.546-7.597c0 1.899 7.414 25.324 6.74 25.957q-.674.633-8.762 21.525l7.414 13.295 14.154-4.431q14.154-15.828 14.828-15.828.674 0 4.718-13.928"
					></path>
				</mask>
			</g>
		</g>
	</svg>
</h1>

<style>
	.handwriting {
		transition: all 1s ease;
		transition-delay: 1s;
	}

	.handwriting ::shadow ::after ::before {
		stroke: #d4d3d3 !important;
		color-scheme: #d4d3d3 !important;
		color: #d4d3d3 !important;
	}

	.handwriting svg .animacion {
		stroke-dasharray: 9000;
		stroke-dashoffset: 9000;
		animation: animacion 7s linear 1 forwards;
	}

	@keyframes animacion {
		to {
			stroke-dashoffset: 0;
		}
	}
</style>