---
import experience from '../data/experience.json';
---

<section>
  <h2>Experiencia</h2>
  {experience.map((item) => (
    <div>
      <h3>{item.title} - {item.company}</h3>
      <p><em>{item.period}</em></p>
      <p>{item.description}</p>
    </div>
  ))}
</section>
